<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wildcat.mad_vureserve">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission> />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity android:name=".FindRoomActivity" />
        <activity android:name=".FindRoomActivity2" />
        <activity android:name=".ManageReservationsActivity" />
        <activity android:name=".ReportProblemActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".CheckInActivity" />



        <activity android:name=".ThankYouActivity"></activity>
    </application>

</manifest>